body::before {
  position: fixed;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(circle, rgba(255,50,80,0.15), transparent 70%);
}

body {
  background-color: #0e0e0e;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.header {
  background-color: #0e0e0e;
  display: flex;
  max-height: 50px;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 10px;
  border-bottom: solid 2px rgba(255,255,255,0.5);
  user-select: none;
}

.header img {
  width: auto;
  height: 25px;
  object-fit: contain;
}

.header nav {
  font-family: 'JetBrains Mono';
  margin-right: 40px;
  user-select: none;
}

.header nav a {
  color: #666666;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}

.header a:hover, #header a:active {
  color: #f0f0f0;
}

.title {
  background: linear-gradient(90deg, #ff3355, #ff6677);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}